<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-sm-8 col-sm-offset-2 text-center">
                <h2 class="section-heading">DorisAndroid</h2>
                <hr class="light">
                <p >DORIS Android est un guide illustré des espèces subaquatiques de France métropolitaine et d'outre-mer pouvant être emmené "presque" partout.</p>
				<p >Basé sur les données du site <a class="text-light bg-dark" href="http://doris.ffessm.fr">http://doris.ffessm.fr</a>, il apporte une aide à l'identification et à l'observation des espèces marines et d'eau douce pour profiter au mieux de vos plongées sous marines ou de vos balades sur l'estran.</p>

                <!-- <a href="https://play.google.com/store/apps/details?id=fr.ffessm.doris.android" class="btn btn-default btn-xl">Fork Me!</a> -->
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-2 col-lg-offset-5 text-center">
                <a href='https://play.google.com/store/apps/details?id=fr.ffessm.doris.android&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'>
            		<img width="250" alt='Disponible sur Google Play' src='https://play.google.com/intl/en_us/badges/images/generic/fr_badge_web_generic.png'/>
            	</a>
            </div>
        </div>
    </div>
</section>
