


<footer class="site-footer h-card">
	<data class="u-url" href="{{ "/" | relative_url }}"></data>

	<div class="container">

		<div class="row">
		
            	<hr>
		        <div class="col-lg-4 col-lg-offset-1 text-center">
		            {{ site.title | escape }} - {{- site.description | escape -}}
		        </div>
		        <div class="col-lg-4 col-lg-offset-1 text-center">
		            <a href="mailto:{{ site.email }}">
		            <i class="fa fa-envelope-o fa-1x wow bounceIn" data-wow-delay=".1s"></i>
		                <p>{{ site.email }}</p>
		            </a>
		        </div>
	
		</div>
	</div>

</footer>
