<nav id="allNewsNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-all_news">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="/index.html#page-top">Doris Android</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-all_news">
            <ul class="nav navbar-nav navbar-right">
                <li class="active">
                    <a href="/index.html#about">A propos</a>
                </li>
                <li class="active">
                    <a href="/index.html#features">Fonctionnalités</a>
                </li>
                <li class="active">
                    <a href="/index.html#gallery">Galerie</a>
                </li>
                <li class="active">
                    <a href="/index.html#latest_news">Actualités</a>
                </li>
                <li class="active">
                    <a href="/index.html##faqs">Questions fréquentes</a>
                </li>
                <li class="active">
                    <a href="/index.html#contact">Contact</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
